.fondo {
    background-color: #2d579a;
}

.barraLateral {
    background-color: #2d579a;
    background:#2d579a;
}

#sdb{
    background-color: #2d579a;;
}


#nav-item:hover{
    background-color: #5579b3;;
}