.barra {
    background-color: #13305f;
    color:white;
    height: 80;
    padding: 8px;
    margin-top: 0px;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-style: Georgia;
    font-size: 20px;
} 
.fondo {
    background-color: #2d579a;
}

.barraLateral {
    background-color: #2d579a;
    background:#2d579a;
}

#sdb{
    background-color: #2d579a;
}


#nav-item:hover{
    background-color: #5579b3;
}

